body{
width:1000px;
margin-left:auto;
margin-right:auto;
text-align:center;
font-family:arial Calibri;
color:blue;
background-color:;
}

p{
text-align:center;
background-image:url(body.jpg);
font-family:arial Calibri;
color:blue;
background-color:;
}

#contenu{
}

.menutop{

}